.cont{
    background-color: black;
    color: darkgreen;
    width: 400px;
    overflow: auto;
}
.list {
    width: 350px;
}
.leftblock{
    width: 15em;
    background-color: blueviolet;
    float: left;
}
.article {
    background-color: cornsilk;
    margin-bottom: 1em;
    margin-left: 15em;
}
.bottom {
    background-color: darkblue;
    color: white;
    clear: both;
}
.img {
    display: block;
    margin: auto;
    margin-right: 10px;
}
.bould {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
.background {
    background-color: lawngreen;
}