p {
    margin: 0;
    padding: 0;
}
.term {
    font-weight: bold;
    font-size: 16px;
}
p, li {
	font-family: 'Segoe UT', Tahoma, Geneva, Verdana, sans-serif;
 }
 h1, h2 {
    text-align: center;
 }
 .table-style {
    border-collapse: collapse;
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
 }